*{
	font-size: 17;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	background-color: rgb(243, 236, 223);
}

table
{
	width:80%;

}
table, th, td
{
    border: 1px solid rgb(141, 141, 199);
	font-size: 15;
	border: 1px solid rgb(141, 141, 199);
    font-size: 15;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}

th
{
      background: rgb(111, 195, 235);
}

.main
{
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.downloadbtn
{
    position: fixed;
    top:5%;
    right:3%;
    background: rgb(111, 195, 235);
    color: white;
    font-style: bold ;
    padding: 10px;
    box-shadow: 0 0 5px rgba(14, 8, 8, 0.4);
}
  
.downloadbtn:hover
{
    box-shadow: 0 0 20px rgba(14, 8, 8, 0.4);
    cursor: pointer;
}

.logout
{
    position: fixed;    
    top:15%;
    right:3%;
    background: rgb(202, 50, 57);
    color: white;
    font-style: bold ;
    padding: 10px;
    box-shadow: 0 0 5px rgba(14, 8, 8, 0.4);
}

.logout:hover
{
    box-shadow: 0 0 20px rgba(14, 8, 8, 0.4);
    cursor: pointer;
}

.pageNo
{
	display:flex;
}
a
{
	text-decoration:none;
}
.pageNo a
{
	margin-left:5px;
}	

